services:
  app:
    image: ghcr.io/emad-k/simple-ddns:latest
    container_name: simple-ddns
    restart: unless-stopped
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
