services:
  app:
    build:
      context: .
      target: release
    container_name: simple-ddns
    restart: always
    ports:
      - "${PORT:-3000}:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
